.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.not-found-img {
  width: 350px;
}
.page-not {
  color: #424450;
  font-size: 26px;
}
.sorry-text {
  color: #424450;
  font-size: 18px;
}
